.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  background-color: #282c34;
  color: antiquewhite;
}

.light {
  background-color: antiquewhite;
  color: #282c34;
}
